
<nav class="navbar navbar-expand-lg navclr nav container-fluid">
    <a class="navbar navbar-brand" style="text-align: center" >
        <img src="./../../assets/images/innotymlogo.png" style="height: 80px; margin-left: 20%;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-lable="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar01">
        <ul class="navbar-nav ml-auto navt" *ngIf="loggedInUser">

            <li class="nav-item active">
                <a href="" routerLink="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item ">
                <a href="" routerLink="/do-transaction" class="nav-link">Do Transaction</a>
            </li>
            <li class="nav-item ">
                <a href="" routerLink="/transaction-history" class="nav-link">Transaction History</a>
            </li>
            <li class="nav-item ">
                <a href="" routerLink="/addMoney" class="nav-link">Add Money</a>
            </li>
            <li class="dropdown nav-item ">
                <a href="#" class="nav-link dropdown-toggle" id="navbar-link" role="button" data-toggle="dropdown">{{loggedInUser.name}}</a>
                <div id="navbar-link" class="dropdown-menu">
                    <a href="" class="dropdown-item nav-link" routerLink="/profile" >Edit Profile</a>
                    <!-- <a class="dropdown-item">Settings</a> -->
                    <a class="dropdown-item nav-link" routerLink="/login" >Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>